section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .loginWrapper {
    width: 60%;
  }
}
