.videosContainer {
  width: 100%;
}

.videosContainer > h2 {
  text-align: center;
}

.videosContainer .videosContainer__videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videosContainer .videosContainer__spinnerWrapper {
  padding-top: 2rem;
}

.videoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 270px;
  cursor: pointer;
  padding: 10px;
  transition: 250ms ease;
}

.videoItem:hover {
  background-color: #e1e1e1;
}

.videoItem .videoItem__thumbnail {
  width: 250px;
  height: 140px;
}
.videoItem .videoItem__info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.videoItem .videoItem__text {
  margin-left: 15px;
}

.videoItem .videoItem__text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}

.videoItem .videoItem__text > p {
  font-size: 14px;
  color: gray;
}

.videoItem .videoItem__avatar {
  height: 30px !important;
  width: 30px !important;
}

@media screen and (min-width: 769px) {
  .videosContainer .videosContainer__videos {
    flex-flow: row wrap;
  }
}
