.videoPage {
  width: 100%;
  display: flex;
  justify-content: center;
  height: max-content;
}

.videoPage__videoContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.videoPage__firstColumn {
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.videoPage__videoWrapper {
  flex: 0.6;
  width: 100%;
}

.videoPage__video {
  width: 100%;
  border: none;
  height: 100%;
}

.videoPage__videoDescription {
  flex: 0.4;
  padding-left: 1rem;
}

.videoPage__videoDescription > * {
  margin-top: 1rem;
}

.videoDescription__title {
  font-size: 5vh;
}

.videoDescription__description {
  font-size: 1.2rem;
  color: #6a6a6a;
}

.videoDescription__actions {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
}

.videoDescription__action {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: fit-content;
  min-width: 110px;
  padding: 0.5rem;
  margin-right: 0.2rem;
  background-color: #b8b8b8;
  text-transform: capitalize;
  font-size: 12px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.videoDescription__action:hover {
  transform: scale(1.1);
}

.videoPage__secondColumn {
  height: max-content;
}

@media screen and (min-width: 400px) {
  .videoPage__firstColumn {
    height: 32rem;
  }

  .videoPage__videoWrapper {
    flex: 0.6;
  }

  .videoPage__videoDescription {
    flex: 0.4;
  }
  .videoDescription__action {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .videoPage__firstColumn {
    height: 40rem;
  }

  .videoPage__videoWrapper {
    flex: 0.6;
  }

  .videoPage__videoDescription {
    flex: 0.4;
  }

  .videoDescription__actions {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .videoPage__firstColumn {
    height: 50rem;
  }

  .videoPage__videoWrapper {
    flex: 0.6;
  }

  .videoPage__videoDescription {
    flex: 0.4;
  }

  .videoDescription__action {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .videoPage__videoContent {
    width: 90%;
    flex-direction: row;
    margin-top: 1rem;
  }

  .videoPage__firstColumn {
    height: 60rem;
    flex: 0.7;
  }
  .videoPage__secondColumn {
    flex: 0.3;
  }

  .videoPage__videoWrapper {
    flex: 0.6;
  }

  .videoPage__videoDescription {
    flex: 0.4;
  }

  .videoPage__videoContent > *:first-child {
    margin-right: 1rem;
  }

  .videoPage .videosContainer .videosContainer__videos {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .videoItem {
    width: 320px;
  }
}
