.searchPage {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 0 0.5rem;
  width: 100%;
  background-color: #f9f9f9;
}

.searchPage .searchPage__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: small !important;
  padding-left: 1rem;
}

.searchPage .searchPage__filter > * {
  height: 100%;
}

.searchPage .searchPage__filter svg {
  font-size: 2rem;
}

.searchPage .searchPage__filter > h2 {
  margin-left: 10px;
  text-transform: uppercase;
}

.searchPage > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*    SEARCH PAGE CHANNEL ROW STYLES    */

.searchpage__channelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 30vw;
  cursor: pointer;
  transition: 250ms ease;
}

.searchpage__channelRow > * {
  height: 100% !important;
}

.searchpage__channelRow:hover {
  background-color: #e1e1e1;
}

.searchpage__channelRow > .channelRow__avatarChannel {
  flex: 0.3;
  height: 90% !important;
}

.searchpage__channelRow > .channelRow__text {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  align-items: flex-start;
}

.searchpage__channelRow > .channelRow__text > p {
  color: #606060;
  font-size: small !important;
}

.searchpage__channelRow > .channelRow__text > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*    SEARCH PAGE VIDEO ROW STYLES    */
.videoRow {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  padding: 10px;
  transition: 250ms ease;
}

.videoRow:hover {
  background-color: #e1e1e1;
}

.videoRow > .videoRow__imageVideo {
  width: 100% !important;
  height: 200px !important;
  border-radius: 8px;
  object-fit: fill;
}

.videoRow > .videoRow__text {
  width: 100%;
}

.videoRow__text .videoRow__title {
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 1rem 0;
}

.videoRow .videoRow__headline {
  font-size: 15px;
  width: 100%;
  color: #606060;
}
.videoRow .videoRow__subs {
  background-color: lightgray;
  padding: 2px;
}
.videoRow .videoRow__subsNumber {
  font-weight: bolder;
  color: rgb(84, 157, 211);
}

.videoRow .videoRow__description {
  font-size: 15px;
  color: #606060;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
