.header__searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.header__searchbar input {
  background-color: #e1e1e1;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 0 0.5rem;
  width: 100%;
  height: 30px;
  font-size: 1.5rem;
}

.header__searchbar .searchBar__submit {
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #cccccc;
  height: 30px;
  width: 70px;
  cursor: pointer;
}
