.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5vw;
  width: 100%;
  height: 5rem;
  z-index: 100;
  background-color: #fafafa;
}

.header > * {
  height: fit-content;
}



.header__searchbar {
  flex: 0.7;
  max-width: 450px;
}

.header__iconsWrapper {
  display: none;
}

@media screen and (max-width: 300px) {
  .header__left > a {
    display: none;
  }
}
