.asidebar {
  flex: 0.2; /*     this is equals to 20%       */
  height: 90vh;
  max-width: 300px;
}

.asidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;

  color: #606060;
}

.asidebarRow:hover {
  background: lightgray;
}

.asidebarRow .asidebarRow__icon {
  font-size: large !important;
}

.asidebarRow .asidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.asidebarRow:hover > .asidebarRow__icon {
  color: rgb(179, 0, 0);
}

.asidebarRow:hover > .asidebarRow__title {
  font-weight: bold;
}

.asidebarRow.selected {
  background-color: lightgray;
}

.asidebarRow.selected > .asidebarRow__icon {
  color: rgb(179, 0, 0);
}

.asidebarRow.selected > .asidebarRow__title {
  font-weight: bold;
}

.asidebar > hr {
  height: 1px;
  border: 0;
  background: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
