.asidebar {
  position: fixed;
  top: 0;
  left: -100%;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  transition: 250ms ease;
  z-index: 100;
  padding-top: 1rem;
}

.asidebar.asidebar__active {
  visibility: visible;
  left: 0;
}

.asidebar .menuLeft {
  padding-left: 1.5rem;
}

.asidebar__header {
  display: flex;
  align-items: center;
}

.asidebar__themeWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding-right: 2rem;
}

.asidebar__themeWrapper > svg {
  font-size: 2rem;
  fill: #1b1b1b;
  cursor: pointer;
}

.asidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #606060;
  text-decoration: none;
  padding-left: 1.5rem;
}

.asidebarRow:hover {
  background: lightgray;
}

.asidebarRow .asidebarRow__icon {
  font-size: large !important;
}

.asidebarRow .asidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.asidebarRow:hover > .asidebarRow__icon {
  color: rgb(179, 0, 0);
}

.asidebarRow:hover > .asidebarRow__title {
  font-weight: bold;
}

.asidebarRow.asidebarRow--selected {
  background-color: lightgray;
}

.asidebarRow.asidebarRow--selected > .asidebarRow__icon {
  color: rgb(179, 0, 0);
}

.asidebarRow.selected > .asidebarRow__title {
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .asidebar {
    width: 300px;
  }
}
